
.font1{
	font-family: 'Roboto';
	font-size: 14pt;
	font-weight: normal;
}
.font2{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: normal;
}
.font3{
	font-family: 'Raleway';
	font-size: 18pt;
	font-weight: bolder;
}
.font4{
	font-family: 'Roboto';
	font-size: 12pt;
	font-weight: normal;
}
.font5{
	font-family: 'Roboto';
	font-size: 16pt;
	font-weight: bold;
}
.font6{
	font-family: 'Roboto';
	font-size: 14pt;
	font-weight: bold;
}
.font8{
	font-family: 'Roboto Slab';
	font-size: 18pt;
	font-weight: bold;
}
.font9{
	font-family: 'Roboto Slab';
	font-size: 16pt;
	font-weight: bold;
}
.font10{
	font-family: 'Roboto';
	font-size: 18pt;
}
.font11{
	font-family: 'Roboto';
	font-size: 24pt;
	font-weight: bold;
}