
.gambar_agenda {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}



.margin_lihat{
  margin-top: 260px;
}

.text_lihat{
  padding: 4px;
  width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
}


.margin_berita {
  margin-top: 130px;
}

.margin_agenda{
  margin-top: 30px;
}
.bg_image {
  opacity: 1;
  display: block;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  background-color: black

}
.box_kegiatan{
  width: 1250px;
  height: 250px;
  margin-top: 40px;
}
.box_gambar{
	width: 210px;
	height: 300px;
	margin-right: 35px;
	display: inline-block;

}
.foll_us{
	margin-top: 40px;
	padding: 20px;
	width: 1200px;
	color: #002F59;
	font-weight: bold;
	font-size: 12px;
	border: 2px solid #002F59;
    box-sizing: border-box;
    border-radius: 2px;
	margin-right: auto;
  	margin-left: auto;
}
.fab {
  padding: 10px;
  width: 40px;
  text-align: center;
  border-radius: 50%;

}

.fab:hover {
    opacity: 0.7;
}


.social a{
  font-size: 1.5em;
  padding: 2rem;
}

.fa-facebook-f{
  background: #3B5998;
  color: white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-google-plus-g{
  background: #dd4b39;
  color: white;
}

.fa-instagram{
  background: #125688;
  color: white;
}

.gambar_kegiatan{
	width: 200px;
	height: 150px;
	
}
.frame_judul{
	width: 200px;
	height: 80px;
	background-color:#DCDCDC;
	color:black;
	padding-top:10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;

}
.box {
  position: absolute;
  background-color: #AEB6BF;
  font-size: 12px;
  width: 80%;
  height: 290px;
  margin-left: 6.5%;
  margin-top: -30px;
  margin-bottom: 50px;
}

.box_pengumuman{
  width: 100%;
  height: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box_agenda{
  width: 100%;
  height: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}
.tgl_pengumuman{
  color: #AEB6BF;
  font-size: 10px;
  padding-left: 5px;
}
.judul_pengumuman{
  color:  #002F59;
  font-size: 12px;
   padding-left: 5px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.font{
    color:#002F59;
  font-weight: bold;
  font-size: 12px;
}
.buttonlink{
  background-color: #AEB6BF;
  color:#002F59;
  font-weight: bold;
  font-size: 12px;
  width: 55px;
  height: 30px;
  margin-top: 20px;
  float: right;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.margin_bottom{
  margin-bottom: 200px;
}
.tgl_berita{
  color: white;
  font-weight: bold;
  padding: 15px;
  

}
.judul_berita{
  color: #17202A;
  font-weight: bold;
  font-size: 15px;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
.isi_berita{
  color: #17202A;
  font-size: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.kolom{
    width: 100%;
    height: 600px;
    background-color: #939393;
    margin-bottom: 10px;
}
.dalam{
    background-color: #17202A;
    height: 280px;
    margin: 10px 0;
    width: 100%
}
.box_content{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

}
.box_alumni{
  width: 1200px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.font-alumni{
  color: black;
}

.caption-alumni{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.box_slide{
  width: 1200px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
.judul_bagian{
  font-size: 30px;
  color:#002F59;
  margin-top: 20px;
}
.hr{
  height: 4px;
  width: 300px;
  margin-bottom: 20px;
  background-color: #CE9C3C; 
}

.lay {
  height: 200px;
  width: 250px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-right: 50px;
}

.image {
  border-radius: 5px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  background-color: #002F59;
  color: white;
  font-size: 12px;
  width: 255px;
  height: 50px;
  margin-top: 120px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}
.batas{
  height: 4px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.7;
  background-color: #CE9C3C; 
}

.judul_bk{
  font-size: 30px;
  color:#002F59;
  text-align: center;
  margin-top: 30px;
}
.table-style {
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.thstyle, .tdstyle {
  text-align: left;
  padding: 8px;
}


.thstyle {
  background-color: #002F59;
  opacity: 0.8;
  color: white;
}
.select-css {
  display: block;
  font-size: 16px;
  color: #002F59;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 200px;
  box-sizing: border-box;
  margin-left: 380px;
  margin-top: 40px;
  margin-bottom: -30px;
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}

.select-css:focus {
  outline: none;
}
.select-css option {
  font-weight:normal;
}
.button {
  position: relative;
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #FFFFFF;
  margin-top: 30px;
  padding: auto;
  width: 200px;
  height: 50px;
  margin-left: 650px;
  margin-right: auto;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #343a40;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
